<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VaCarTion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="styles.css">
</head>

<body class="black">
    <nav class="navbar navbar-expand-lg navbars">
        <div class="container-fluid ">
            <a class="navbar-brand  brand black">VaCarTion</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <h1 class="display-6 ">Admin</h1>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link white" href="#"></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class=" global-div ">
        <div class="row ">
            <!-- <Firstcolumn /> -->

            <div class="col-2 global-first-col main-cols">

                <div class="justify-content-center">
                    <h1 class="display-6 header-size padd-down">Reports</h1>
                </div>
                <div>
                    <ul class="list-group redirect-list">
                        <a class="list-group-item redirect-list" href="/payments-search">Payments </a>
                        <a class="list-group-item redirect-list" href="/res-search">Reservations </a>
                        <a class="list-group-item redirect-list" href="/cars-status-search">Cars Status </a>
                        <a class="list-group-item redirect-list" href="/customer-res-search">Customer Reservations </a>
                        <a class="list-group-item redirect-list" href="/car-res-search">Car Reservations</a>
                    </ul>
                    <img class="gif"
                        src="https://media0.giphy.com/media/9wUVOS1E0bffmkR2cH/200w.webp?cid=ecf05e47ewqi4ci5xxvwm4dxc8e7pot7q7rxh3zgw7n673oq&rid=200w.webp&ct=s"></img>
                    <button type="button" class="btn btn-outline-success add-car">Add Car </button>

                </div>
            </div>
            <div class="col-8 global-main-col justify-content-center">
                <h1 class="display-6 header-size">📈 Statistics 📉</h1>

                <div class="note">
                    <!-- <button class="tags">tagsss</button>  -->
                    <h2 class="most-rented">Most rented model</h2>
                    <h1><span class="author most-rented-span">Gclass</span></h1>
                    <p>It was rented by <span class="most-rented-number"></span> customers</p>
                    <!-- <button  >hey hey</button> -->
                </div>
                <div class="note">
                    <!-- <button class="tags">tagsss</button>  -->
                    <h2>Most rented make </h2>
                    <h1><span class="author most-rented-make-span">Mercerdes-Benz</span></h1>
                    <p>It was rented <span class="most-rented-make-number"></span> customers</p>
                    <!-- <button  >hey hey</button> -->
                </div>
                <div class="note">
                    <!-- <button class="tags">tagsss</button>  -->
                    <h2>Most Profitable Office </h2>
                    <h1><span class="author most-profitable-office-span">Buenos-aires office</span></h1>
                    <p>It gained <span class="most-profitable-office-revenue"></span> $</p>
                    <!-- <button  >hey hey</button> -->
                </div>






            </div>
            <div class="col-2 global-third-col">
                <div class=" padd-down">
                    <h6 class="display-6 header-size padd-down"> Search </h6>
                    <ul class="list-group redirect-list">
                        <a class="list-group-item redirect-list" href="/advanced-search">Advanced Search </a>
                    </ul>
                    <div class="padd-up2">
                        <button type="button" class="btn btn-outline-danger add-car logout-button">Log Out </button>
                    </div>
                </div>
            </div>



            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
                crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script>
                // action listener for logout button
                $(".logout-button").click(function () {
                    $.ajax({
                        url: "/logout",
                        type: "POST",
                        success: function (response) {
                            window.location.href = "/";
                        }
                    });
                });
                let mostRentedMake = null;
                let mostProfitableOffice = null;

                //ajax call to get the most rented model
                $.ajax({
                    url: "/get-most-rented-model",
                    type: "POST",
                    success: function (response) {
                        $(".most-rented-span").text(response.mostRentedModel[0].model);
                        $(".most-rented-number").text(response.mostRentedModel[0].count);
                    }
                });

                //ajax call to get the most rented make
                $.ajax({
                    url: "/get-most-rented-make",
                    type: "POST",
                    success: function (response) {
                        $(".most-rented-make-span").text(response.mostRentedMake[0].make);
                        $(".most-rented-make-number").text(response.mostRentedMake[0].count);
                    }
                });
                //ajax call to get the most profitable office
                $.ajax({
                    url: "/get-most-profitable-office",
                    type: "POST",
                    success: function (response) {
                        $(".most-profitable-office-span").text(response.mostProfitableOffice[0].name);
                        $(".most-profitable-office-revenue").text(response.mostProfitableOffice[0].total);
                    }
                });

            </script>
</body>

</html>