<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VaCarTion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="styles.css">
    <style type="text/css">
        @font-face {
            font-family: Roboto;
            src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf");
        }
    </style>
</head>

<body class="black vsc-initialized">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3" style="margin-right: 10px; margin-top: 10px;">
                <h1 class="text-center black">VaCarTion <img src="/car.png"></img></h1>
            </div>
            <div class="col" style="margin-top:20px; ">
                <h2 class="text-center black"><span class="customer-name"></h2>
            </div>
            <div class="col-3" style="padding-left: 250px;">
                <button type="button" class="col btn btn-outline-danger logout-button" style="margin:10px;">Log Out
                </button>
            </div>
        </div>
        <div>
            <h3 class="display-3 align-content-center text-center">Reserve a Car</h3>
        </div>
        <div class="row specs" style="margin:50px;">
            <select class="col m-5" id="modelSelect"></select>
            <select class="col m-5" id="makeSelect"></select>
            <select class="col m-5" id="locationSelect"></select>
        </div>
        <div class="justify-content-center">
            <label for="pickDate" class="display-6 date">Pickup Date</label>
            <input type="date" id="pickDate" name="start_date" required="">
            <label for="returnDate" class="display-6 date">Return Date:</label>
            <input type="date" id="returnDate" name="end_date" required="">
            <div><button id="getAvailable" class="btn btn-light mybtn g black">Show Available Cars</button></div>
        </div>
        <form method="post" action="/reserveCar">

            <div class="card-container overflow-auto" style="max-height:1000px;">

            </div>
            <div class="form-check justify-content-center h4" style="margin: 10px;">
                <input class="form-check-input h4" style="float:inherit;" type="checkbox" value=""
                    id="flexCheckDefault">
                <label class="form-check-label h4" for="flexCheckDefault">
                    Pay Now
                </label>
                <div><button type="submit" class="btn btn-primary mybtn g white">Reserve</button></div>
            </div>

        </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- <script src="signin.js" charset="utf-8"></script> -->


        <script>
            var returnedSuggestion = ''
            var selectedCar = ''
            // let editor, doc, cursor, line, pos
            document.addEventListener("keydown", (event) => {
                setTimeout(() => {
                    editor = event.target.closest('.CodeMirror');
                    if (editor) {
                        doc = editor.CodeMirror.getDoc()
                        cursor = doc.getCursor()
                        line = doc.getLine(cursor.line)
                        pos = { line: cursor.line, ch: line.length }
                        if (event.key == "Enter") {
                            var query = doc.getRange({ line: Math.max(0, cursor.line - 10), ch: 0 }, { line: cursor.line, ch: 0 })
                            window.postMessage({ source: 'getSuggestion', payload: { data: query } })
                            //displayGrey(query)
                        }
                        else if (event.key == "ArrowRight") {
                            acceptTab(returnedSuggestion)
                        }
                    }
                }, 0)
            })
            function acceptTab(text) {
                if (suggestionDisplayed) {
                    doc.replaceRange(text, pos)
                    suggestionDisplayed = false
                    console.log(returnedSuggestion)

                }
            }
            function displayGrey(text) {
                var element = document.createElement('span')
                element.innerText = text
                console.log(element.innerText)
                element.style = 'color:grey'
                var lineIndex = pos.line;
                editor.getElementsByClassName('CodeMirror-line')[lineIndex].appendChild(element)
                suggestionDisplayed = true
            }
            window.addEventListener('message', (event) => {
                if (event.source !== window) return
                if (event.data.source == 'return') {
                    returnedSuggestion = event.data.payload.data
                    displayGrey(event.data.payload.data)
                }
            })
            $('div').click(function () {
                if (this.className === 'card' || this.className === 'card_clicked') {
                    if (selectedCar !== '') {
                        console.log(selectedCar)
                        if (selectedCar === $(this).attr('id').replace('#', ''))
                            if ($(this).attr('class').replace('.', '') === 'card_clicked')
                                $(this).attr('class', "card")
                            else
                                $(this).attr('class', "card_clicked")
                        else {
                            $('#' + selectedCar).attr('class', "card")
                            $(this).attr('class', "card_clicked")
                        }
                    } else {
                        $(this).attr('class', "card_clicked")
                    }
                    selectedCar = $(this).attr('id')
                }
            });
            $(document).ready(function () {
                $.ajax({
                    url: '/get-customer-name',
                    type: 'POST',
                    success: function (data) {
                        //add name to customer-name class
                        $('.customer-name').text(data.customer[0].fname + ' ' + data.customer[0].lname);
                    }
                });

                $("#modelSelect").change(function () {
                    var carModel = $('#modelSelect').find(":selected").text()
                    $.ajax({
                        url: '/get-all-cars-makes',
                        type: 'POST',
                        data: {
                            model: carModel
                        },
                        success: function (data) {
                            console.log(typeof carModel)
                            console.log($('#modelSelect').find(":selected").text().toString())
                            //var dropDown = "<select class=\"col-2\">"
                            var dropDown = ""
                            dropDown += "<option>Any</option>"
                            //add data to table body
                            console.log(data.carMakes);
                            for (var i = 0; i < data.carMakes.length; i++) {
                                var car = data.carMakes[i].make;
                                console.log(car);
                                dropDown += "<option>" + car + "</option>"
                            }
                            $('#makeSelect').empty();
                            $('#makeSelect').append(dropDown);
                        }
                    });
                });
                $.ajax({
                    url: '/get-all-cars-models',
                    type: 'POST',
                    success: function (data) {
                        var dropDown = ""
                        dropDown += "<option>Any</option>"
                        //add data to table body
                        for (var i = 0; i < data.carModels.length; i++) {
                            var car = data.carModels[i].model;
                            dropDown += "<option>" + car + "</option>"
                        }
                        $('#modelSelect').append(dropDown);
                    }
                });
                $.ajax({
                    url: '/get-all-cars-makes',
                    type: 'POST',
                    data: {
                        model: 'Any'
                    },
                    success: function (data) {
                        //console.log($('#modelSelect').find(":selected").text().toString())
                        var dropDown = ""
                        dropDown += "<option>Any</option>"
                        //add data to table body
                        //console.log(data.carMakes);
                        for (var i = 0; i < data.carMakes.length; i++) {
                            var car = data.carMakes[i].make;
                            dropDown += "<option>" + car + "</option>"
                        }
                        $('#makeSelect').empty();
                        $('#makeSelect').append(dropDown);
                    }
                });
                $.ajax({
                    url: '/get-all-offices',
                    type: 'POST',
                    success: function (data) {
                        var dropDown = ""
                        dropDown += "<option>Any</option>"
                        //add data to table body
                        for (var i = 0; i < data.offices.length; i++) {
                            var office = data.offices[i].name + " - " + data.offices[i].building_no + ", " + data.offices[i].city + ", " + data.offices[i].country;
                            dropDown += "<option>" + office + "</option>"
                        }
                        $('#locationSelect').empty();
                        $('#locationSelect').append(dropDown);
                    }
                });
                $("#getAvailable").click(function () {
                    var pickDate = $("#pickDate").val()
                    var retDate = $("#returnDate").val()

                    if (pickDate === "" || retDate === "") {
                        alert("Please select a pick up and return date")
                        return
                    }
                    var loc = $('#locationSelect').find(":selected").text().toString()
                    var office_name = ''
                    var office_building = ''
                    var office_city = ''
                    var office_country = ''
                    if (loc !== 'Any') {
                        var office_name = loc.split(" - ")[0]
                        var office_building = loc.split(" - ")[1].split(", ")[0]
                        var office_city = loc.split(" - ")[1].split(", ")[1]
                        var office_country = loc.split(" - ")[1].split(", ")[2]
                    }
                    $.ajax({
                        url: '/show-avaialable-cars',
                        type: 'POST',
                        data: {
                            make: $('#makeSelect').find(":selected").text().toString(),
                            model: $('#modelSelect').find(":selected").text().toString(),
                            pickup_date: pickDate,
                            return_date: retDate,
                            city: office_city,
                            country: office_country,
                            office_build_no: office_building,
                            office_name: office_name
                        },
                        success: function (data) {
                            //console.log($('#modelSelect').find(":selected").text().toString())
                            var cards = ""
                            //cards += "<option>Any</option>"
                            //add data to table body
                            //console.log(data.carMakes);
                            console.log(data)
                            for (var i = 0; i < data.cars.length; i++) {
                                var car = data.cars[i];
                                var office = car.name + " - " + car.building_no + ", " + car.city + ", " + car.country;

                                cards += "<div class=\"card\" id=\"" + car.plate_id + "\">\
                                    <img src=\""+ car.photo + "\">\
                                    <div class=\"content\">\
                                        <h4>"+ car.make + " - " + car.model + ", " + car.year + "</h4>\
                                        <p>"+ car.price + " $/Day" + "</p>\
                                        <p>"+ office + "</p>\
                                    </div>\
                                </div>"
                            }
                            $('.card-container').empty();
                            $('.card-container').append(cards);
                        }
                    });
                });
                $(".logout-button").click(function () {
                    $.ajax({
                        url: "/logout",
                        type: "POST",
                        success: function (response) {
                            window.location.href = "/";
                        }
                    });
                });
            });
        </script>
</body>

</html>