<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VaCarTion</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="styles.css">
    <style type="text/css">
        @font-face {
            font-family: Roboto;
            src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf");
        }
    </style>
</head>

<body class="black vsc-initialized">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3" style="margin-right: 10px; margin-top: 10px;">
                <h1 class="text-center black">VaCarTion <img src="/car.png"></img></h1>
            </div>
            <div class="col" style="margin-top:20px; ">
                <h2 class="text-center black display-6"><span class="customer-name"></h2>
            </div>
            <div class="col-3" style="padding-left: 250px;">
                <button type="button" class="col btn btn-outline-danger logout-button" style="margin:10px;">Log Out
                </button>
            </div>
        </div>
        <div>
            <h3 class="display-5 align-content-center text-center" style="padding: 1.5rem 0;">Reserve a Car</h3>
        </div>
        <div class="row specs" style="margin:0;">
            <select class="col m-5  form-select" id="modelSelect"></select>
            <select class="col m-5 form-select" id="makeSelect"></select>
            <select class="col m-5 form-select" id="locationSelect"></select>
        </div>
        <div class="justify-content-center">
            <label for="pickDate" class="display-6 date">Pickup Date</label>
            <input type="date" id="pickDate" name="start_date" required="">
            <label for="returnDate" class="display-6 date">Return Date:</label>
            <input type="date" id="returnDate" name="end_date" required="">
            <div><button id="getAvailable" class="btn btn-outline-success mybtn g black reserve-btn1">Show Available Cars</button></div>
        </div>
        <div class="card-container overflow-auto justify-content-center height" >

        </div>
        <div class="form-check justify-content-center h4" style="padding: 0;">
            <input id="payNow" class="form-check-input h4" checked="true" style="float:inherit; background-color: green;" type="checkbox"
                value="">
            <label class="form-check-label h4" for="payNow">
                Pay Now
            </label>
            <div><button id="reserve-btn" class="btn btn-success mybtn g white reserve-btn1">Reserve</button></div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- <script src="signin.js" charset="utf-8"></script> -->
        <!-- JavaScript -->
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
        <!-- Default theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
        <!-- Semantic UI theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
        <!-- Bootstrap theme -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />

        <script src="/js/reserve.js"></script>
</body>

</html>