
body {
    /* font-family: "Montserrat"; */
    text-align: center;
  }
  
  h1, h2, h3, h4, h5, h6 {
    /* font-family: "Montserrat-Bold"; */
    /* color: #000; */
  }
  
  p {
    color: #8f8f8f;
  }
  
  /* Headings */
 
  .big-heading {
    /* font-family: "Montserrat-Black"; */
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  /* Containers */

  .container-fluid{
    padding: 7% 15%;
  }
  
  /* Sections */
  
  .colored-section {
    /*pick a darker background color of #D6E4E5 */
    background-color: #7e898a;
    color: #fff;
  }
  
  .white-section {
    background-color: #EFF5F5;
  }
  
  /* Navigation Bar */
  
  .navbar {
    padding: 0 2%;
    background-color: #D6E4E5;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 5px;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  
  /* Buttons */
  
  .download-button {
    margin: 5% 3% 5% 0;
  }
  
  /* Title Section */
  
  #title {
    background-color: #D6E4E5;
    color: #fff;
  }
/*   
  #title .container-fluid {
    padding: 3% 15% 7%;
  } */
  
  /* Title Image */
 
  
  /* Features Section */
  .container {
     /* margin: 0; */
   margin: 0;
/* margin: 0 0; */
    padding-top: 11rem;
    padding-bottom: 3rem;
    text-align: center;
    width: 100%;
    box-sizing:border-box;
    width: max-content;
  }
  #features {
    position: relative;
  }
  
  .feature-title {
    font-size: 1.5rem;
  }
  
  .feature-box {
    padding: 4.5%;
  }
  
  .icon {
    color: #65d8e0;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #badcdf;
  }
  

  /* Footer Section */
  
  .social-icon {
    margin: 20px 10px;
  }
  .black{

    color: #425F57;
}
.justify-content-center
{

  justify-content: center;
  text-align: center;
}
.main
{

padding: 11rem 0;

}
.myinput
     {
      width:30%;
      margin: 0.5rem auto;     
     }