html,
body{
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   margin: 0;
   text-align: center;

}

 
  
  p {
    color: #8f8f8f;
  }
  
  /* Headings */
 
  .big-heading {
    /* font-family: "Montserrat-Black"; */
    font-size: 3.5rem;
    line-height: 1.5;
  }
  
  .section-heading {
    font-size: 3rem;
    line-height: 1.5;
  }
  
  /* Containers */

  .container-fluid{
    padding: 7% 15%;
  }
  
  /* Sections */
  
  .colored-section {
    /*pick a darker background color of #D6E4E5 */
    background-color: #7e898a;
    color: #fff;
  }
  
  .white-section {
    background-color: #395B64;
  }
  
  /* Navigation Bar */
  
  .navbar {
    padding: 0 2%;
    background-color: #D6E4E5;
  }
  
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 5px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
  
  /* Buttons */
  
  .download-button {
    margin: 5% 3% 5% 0;
  }
  
  /* Title Section */
  
  #title {
    background-color: #D6E4E5;
    color: #fff;
  }
/*   
  #title .container-fluid {
    padding: 3% 15% 7%;
  } */
  
  /* Title Image */
 
  
  /* Features Section */
  .container {
     /* margin: 0; */
   margin: 0;
/* margin: 0 0; */
    padding-top: 11rem;
    padding-bottom: 3rem;
    text-align: center;
    width: 100%;
    box-sizing:border-box;
    width: max-content;
  }
  #features {
    position: relative;
  }
  
  .feature-title {
    font-size: 1.5rem;
  }
  
  .feature-box {
    padding: 4.5%;
  }
  
  .icon {
    color: #65d8e0;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #badcdf;
  }
  

  /* Footer Section */
  
  .social-icon {
    margin: 20px 10px;
  }
  .black{

    color: #425F57;
}
.justify-content-center
{

  justify-content: center;
  text-align: center;
}
.main
{

padding: 11rem 0;

}
.myinput
     {
      width:30%;
      margin: 0.5rem auto;     
     }
     
.commentat{
  background-color: #EFF5F5;
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.comments-pics
{
  height: 140px;;
  width:140px;
  border-radius:100%;
}
.title2 {
  /* font-weight: bold;
  font-size: 3rem; */
  padding-top:0;
  padding-bottom: 4rem;
}
.padd-down
{
padding-bottom: 8rem;

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #425F57;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #425F57;
}
.last-section
{
  background-color: #D6E4E5;
}
.a{

  font-size: 1.5rem;
}