.padd-down {
  padding-bottom: 2rem;
}

.myheader {
  margin: 3rem;
}

body {
  color: #425F57;

}

p {
  padding: 0;
  margin: 0;

  margin: 0 auto;
}

.sign {
  text-decoration: none;
  color: black;
}

.sign :hover {
  text-decoration: none;
  color: white !important;
  background-color: #D6E4E5;
}

.sign :active {
  text-decoration: none;
  color: white !important;
  background-color: #D6E4E5;
}

body {
  color: white;
  font-weight: 300;
  background-color: #EFF5F5;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.white {
  color: white;
}

.brand {
  font-size: 2rem;
}

.navbars {
  padding: 0 2rem;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  background-color: #D6E4E5;
}

.slogan {

  font-size: 3rem;

}

.labelu {
  font-size: 1.2rem;
  margin: 1rem 0rem;
}

.center {
  margin-top: 2rem;
  justify-content: center;
  text-align: center;
}

.myinput {
  width: 30%;
  margin: 0.5rem auto;
}

.mybtn {
  margin: 1rem 1rem;
  width: 10%;
}

.container {
  margin: 4rem auto;
  padding: 80px 0;
  text-align: center;
}

.container-signup {
  margin: 5% auto;
  padding: 50px 0;
  text-align: center;
}

.container h1 {
  font-size: 40px;
  font-weight: 200;
}

.global-div {
  margin: 0rem 0px;
  padding: 0rem 0;
  height: auto;
  width: auto;
  margin-top: 0;
}

.write {
  justify-content: center;
  padding: 3rem 18rem;

}

.submit-write {
  margin-top: 2rem;
  width: 50%;
  margin-left: 15rem;
}

.page-title {
  background-color: #D6E4E5;
  text-align: center;
  margin-block-end: 0;
  padding-bottom: 1rem;
  /* text-decoration: underline 1px; */
}

.nav-link {
  font-size: 1.2rem;
}

.textarea-write {

  margin-bottom: 1rem;

}

/* new */
.signin-form {
  padding-top: 10rem;
}

.black {

  color: #425F57;
}

.global-div {
  margin: 0rem 0px;
  padding: 0rem 0;
  height: auto;
  width: auto;
  margin-top: 0;
}

.global-first-col {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  padding-top: 0rem;
  border-right: 0.5px solid rgba(0, 0, 0, 0.125);
  min-height: 37.3rem;
  /* background-color: #D6E4E5; */
}

.global-third-col {
  border-left: 0.5px solid rgba(0, 0, 0, 0.125);
}

.header-size {

  font-size: 2rem;

}

.redirect-list {
  background-color: #EFF5F5;
  background: #EFF5F5;
  border-left: none;
  border-right: none;

}

.justify-content-center {

  justify-content: center;
  text-align: center;
}

.date {

  padding: 2rem;
}

.gif {
  padding: 3rem;
  padding-left: 1.5rem;
}

/* statistics */

.note {
  border-radius: 7px;
  box-shadow: 0 2px 5px #000;
  padding: 10px;
  width: auto;
  margin: 2rem;

}

.note h1 {
  font-size: 1em;
  margin-bottom: 1rem;
}

.note h2 {
  font-size: 1.5em;
  margin-bottom: 1rem;
  text-align: left;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-bottom: 1rem;

}

.note button {

  background: #2C3333;
  position: relative;
  float: right;
  margin-right: 10px;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  margin-bottom: 1rem;

}

.tags {
  border-radius: 4px;
  box-shadow: 0 2px 5px #000;
  background: #2C3333;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 10px;
  color: white;
  border: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  margin-bottom: 1rem;
  cursor: alias;

}

.add-car {
  margin-left: 2rem;
  width: 80%;
}


.in {
  width: 100%;
  margin: 0.5rem auto;
}

.card-container {
  max-width: 1280px;
  max-height: 100px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
}

.card-container:hover .card {
  opacity: .7;
  cursor: pointer;
  filter: grayscale(1);
}

.card-container .card {
  margin: 10px;
  width: calc(100% / 3 - 20px);
  float: left;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .05);
  background: #FFF;
  -webkit-transition: .3s all ease;
  transition: .15s all ease;
}

.card-container .card:hover {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .05);
  transform: scale(1.025);
  opacity: 1;
  filter: grayscale(0);
  transition: .35s all ease;
}

.card-container .card_clicked {
  margin: 10px;
  width: calc(100% / 3 - 20px);
  float: left;
  /* box-shadow: 0 0 2px 2px rgba(0,0,0,.05); */
  background: #FFF;
  -webkit-transition: .3s all ease;
  transition: .15s all ease;
  box-shadow: 0 0 25px 25px rgba(250, 6, 6, 0.15);
  transform: scale(1.05);
  opacity: 1;
  filter: grayscale(0);
  /* padding-left: 50px; */
  transition: .35s all ease;
}

.card-container .card img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.card-container .card_clicked img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.card-container .card .content {
  padding: 15px 20px;
}

.card-container .card_clicked .content {
  padding: 15px 20px;
}

.card-container .card h3 {
  font: 2.8rem/3.4rem 'Bree Serif', serif;
  padding: 0;
  margin: 0 0 10px;
  letter-spacing: -.075rem
}

.card-container .card_clicked h3 {
  font: 2.8rem/3.4rem 'Bree Serif', serif;
  padding: 0;
  margin: 0 0 10px;
  letter-spacing: -.075rem
}

.card-container .card p {
  color: #888;
  padding: 0;
  margin: 0;
  font: 400 1.6rem/2.2rem 'Open Sans script=all', sans-serif;
}

.card-container .card_clicked p {
  color: #888;
  padding: 0;
  margin: 0;
  font: 400 1.6rem/2.2rem 'Open Sans script=all', sans-serif;
}

.width-40 {
  width: 40%;
}

.padd-up {
  padding-top: 2rem;
}

.padd-down {
  padding-bottom: 2rem;
}

.padd-up2 {
  padding-top: 23rem;
}

.padd-left {
  padding-left: 1rem;
}

.padd-right {
  padding-right: 1rem;
}

.author {
  font-size: 1.5rem;
}

.reserve-btn1
{
  width: 20%;
}


/*  */
.height
{
  max-height: 65rem;
}